    Olá <%= @user.nome %>,

    Bem vindo ao mail institucional da Universidade Federal Fluminense:
    Você poderá utilizar a partir de agora seu mail institucional, <%= @user.uffmail %>
    Qualquer dúvida, consulte o <a href='http://demandas.sti.uff.br/'>STI</a>.
