<h1>UserMailer#emailDefinicao</h1>

<p>
    Olá <%= @user.nome %>,

    Bem vindo ao mail institucional da Universidade Federal Fluminense:
    Você poderá utilizar a partir de agora seu mail institucional, <%= @user.uffmail %>
    Qualquer dúvida, consulte o <%= link_to 'STI', 'http://demandas.sti.uff.br/' %>.
</p>
