<div class="jumbotron">
    <p id="notice"><%= notice %></p>
    <h1>Adicionar novos usuários ao sistema</h1>

<%= render 'form', dado: @dado %>
    <div class="row col-md-12">
                <div id="loading">     
                  <img src="http://i.stack.imgur.com/Z4BUx.gif" alt="Carregando..." title="Carregando...">
                </div>
    </div>      
    <div class="btn btn-info btn-block">
        <%= link_to 'Back', dados_path %>
    </div>

</div>
<script>
$( "#carregar" ).click(function() {
  $( "#loading" ).show();
  $( "#formulario" ).submit();
});</script>
