<div class="jumbotron">
        <p id="notice"><%= notice %></p>
    <h1>Insira o número da sua matrícula</h1>

<%= render 'matricula' %>

    <div class="btn btn-info btn-block">
      <%= link_to 'Voltar para Home', root_path %>
    </div>

</div>

