<div class="jumbotron">
            <p id="notice"><%= notice %></p>
    <h1>Desafio 1 do STI UFF</h1>
<p>Candidato Marco Antonio de Carvalho Bonetti - 7 período de SI</p>

    <div class="btn btn-info btn-block">
        <%= link_to 'Inserir dados CSV', new_documento_path %>
    </div>
    <div class="btn btn-info btn-block">
        <%= link_to 'Criar mail institucional', selecionadado_path %><br>
    </div>
</div>
